In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('telematics_data.csv')
df.columns

Index(['year', 'month', 'day', 'vin', 'wmi', 'engine_cd', 'device_type',
       'msg_ts', 'vin_utc_key', 'packet_id', 'reason_code', 'script_version',
       'deviceid', 'latitude', 'longitude', 'driveridcode1', 'obdvin',
       'vehiclebattvolts', 'fuel_total', 'engine_rpm', 'coolant_tmp',
       'fuel_lvl_pct', 'driving_tme_sec', 'cruise_tme_sec', 'idle_tme_sec',
       'idle_fuel_total', 'pto_tme_total', 'pto_fuel_total', 'gear',
       'fuel_tmp', 'oil_tmpl', 'throt_pos', 'mpg', 'acel_pos',
       'engine_pct_load', 'torque', 'oil_lvl', 'oil_psi', 'coolant_psi',
       'intak_air_tmp', 'manifold_tmp', 'vehiclespeed', 'heading',
       'odometerinmeters', 'odometer'],
      dtype='object')

In [ ]:
https://www.kaggle.com/datasets/adhilpk/automotive-directions-telematics/data

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514994 entries, 0 to 514993
Data columns (total 45 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year              514994 non-null  int64
 1   month             514994 non-null  int64
 2   day               514994 non-null  int64
 3   vin               514994 non-null  object
 4   wmi               514994 non-null  object
 5   engine_cd         514994 non-null  object
 6   device_type       514994 non-null  object
 7   msg_ts            514994 non-null  object
 8   vin_utc_key       514994 non-null  object
 9   packet_id         514994 non-null  int64
 10  reason_code       514994 non-null  int64
 11  script_version    389569 non-null  float64
 12  deviceid          487753 non-null  object
 13  latitude          487710 non-null  float64
 14  longitude         487748 non-null  float64
 15  driveridcode1     487608 non-null  float64
 16  obdvin            487689 non-null  object
 17  vehiclebattvolts  457856 non-null  float64
 18  fuel_total        454170 non-null  float64
 19  engine_rpm        514994 non-null  float64
 20  coolant_tmp       457846 non-null  float64
 21  fuel_lvl_pct      273821 non-null  float64
 22  driving_tme_sec   93406 non-null   float64
 23  cruise_tme_sec    0 non-null       float64
 24  idle_tme_sec      453791 non-null  float64
 25  idle_fuel_total   453592 non-null  float64
 26  pto_tme_total     453709 non-null  float64
 27  pto_fuel_total    453606 non-null  float64
 28  gear              437694 non-null  float64
 29  fuel_tmp          364422 non-null  float64
 30  oil_tmpl          457956 non-null  float64
 31  throt_pos         457973 non-null  float64
 32  mpg               0 non-null       float64
 33  acel_pos          364432 non-null  float64
 34  engine_pct_load   475924 non-null  float64
 35  torque            475351 non-null  float64
 36  oil_lvl           364709 non-null  float64
 37  oil_psi           457907 non-null  float64
 38  coolant_psi       364519 non-null  float64
 39  intak_air_tmp     458267 non-null  float64
 40  manifold_tmp      458811 non-null  float64
 41  vehiclespeed      487650 non-null  float64
 42  heading           473111 non-null  float64
 43  odometerinmeters  487801 non-null  float64
 44  odometer          10393 non-null   float64
dtypes: float64(32), int64(5), object(8)
memory usage: 176.8+ MB

In [3]:
df.drop(columns=["year", "month", "day"], inplace=True)

In [5]:
# Identify categorical features excluding 'vin'
categorical_features = df.select_dtypes(include=['object', 'category']).drop(columns=['vin','msg_ts'], errors='ignore')

# Print categorical feature names
print(categorical_features.columns.tolist())

['wmi', 'engine_cd', 'device_type', 'vin_utc_key', 'deviceid', 'obdvin']

In [6]:
df.drop(columns=categorical_features.columns, inplace=True)

In [10]:
# Step 4: Drop specific columns if they exist
df.drop(columns=['packet_id', 'script_version', 'driveridcode1', 'odometer'], inplace=True, axis=1)

# Step 5: Drop columns that have ALL null values
df.dropna(axis=1, how='all', inplace=True)

# Step 6: Print remaining columns
print("Remaining columns:", df.columns)

Remaining columns: Index(['vin', 'msg_ts', 'reason_code', 'latitude', 'longitude',
       'vehiclebattvolts', 'fuel_total', 'engine_rpm', 'coolant_tmp',
       'fuel_lvl_pct', 'driving_tme_sec', 'idle_tme_sec', 'idle_fuel_total',
       'pto_tme_total', 'pto_fuel_total', 'gear', 'fuel_tmp', 'oil_tmpl',
       'throt_pos', 'acel_pos', 'engine_pct_load', 'torque', 'oil_lvl',
       'oil_psi', 'coolant_psi', 'intak_air_tmp', 'manifold_tmp',
       'vehiclespeed', 'heading', 'odometerinmeters'],
      dtype='object')

In [12]:

df.isnull().sum()/len(df)*100

vin                  0.000000
msg_ts               0.000000
reason_code          0.000000
latitude             5.297926
longitude            5.290547
vehiclebattvolts    11.094887
fuel_total          11.810623
engine_rpm           0.000000
coolant_tmp         11.096828
fuel_lvl_pct        46.830254
driving_tme_sec     81.862701
idle_tme_sec        11.884216
idle_fuel_total     11.922857
pto_tme_total       11.900139
pto_fuel_total      11.920139
gear                15.009884
fuel_tmp            29.237622
oil_tmpl            11.075469
throt_pos           11.072168
acel_pos            29.235680
engine_pct_load      7.586496
torque               7.697760
oil_lvl             29.181893
oil_psi             11.084984
coolant_psi         29.218787
intak_air_tmp       11.015080
manifold_tmp        10.909447
vehiclespeed         5.309576
heading              8.132716
odometerinmeters     5.280256
dtype: float64

In [13]:
df.drop(columns=['fuel_lvl_pct', 'driving_tme_sec'], inplace=True, axis=1)
df['vin'].value_counts()

vin
3HSDZTZR5LN134290    34636
1HSERTZRXLH809470     9962
3HSDZTZRXLN395656     7263
3HSDZTZRXLN085409     6657
3HSDZTZR3LN154022     6639
                     ...
3HSDWTZR9KN310622     4204
3HSDWTZR5LN845108     4185
3HSDWTZR1LN845199     4181
3HSDZTZR6KN540223     4177
3HSDWTZR0LN844822     4169
Name: count, Length: 100, dtype: int64

In [18]:
df.isnull().sum()

vin                      0
msg_ts                   0
reason_code              0
latitude                 0
longitude                0
vehiclebattvolts     41074
fuel_total           44671
engine_rpm               0
coolant_tmp          41273
idle_tme_sec         45232
idle_fuel_total      45248
pto_tme_total        45287
pto_fuel_total       45368
gear                 61456
fuel_tmp            130883
oil_tmpl             41000
throt_pos            41124
acel_pos            131027
engine_pct_load      26467
torque               26823
oil_lvl             130686
oil_psi              41304
coolant_psi         131028
intak_air_tmp        40809
manifold_tmp         40389
vehiclespeed         15996
heading              30314
odometerinmeters     15874
dtype: int64

In [14]:
df = df.dropna(subset=['latitude', 'longitude'])

In [ ]:
list=['vehiclebattvolts', 'fuel_total', '']
df['vehiclebattvolts'] = df['vehiclebattvolts'].interpolate(method='linear', limit_direction='both').bfill().ffill()

In [ ]:
df['msg_ts']

In [ ]:
df['msg_ts'] = pd.to_datetime(df['msg_ts'], format="%d-%m-%Y %H:%M")
df.sort_values(by='msg_ts',inplace=True)
df['msg_ts'].head()
df.reset_index(drop=True, inplace=True)
df['msg_ts'].head()

In [ ]:
print(df['reason_code'].value_counts())

In [ ]:
numeric_df = df.select_dtypes(include=['number'])
numeric_df.head()

In [ ]:
df.sort_values(by='msg_ts',inplace=True,ascending=False)

In [ ]:
categorical_features = df.select_dtypes(include=['object', 'category'])
df.drop(columns=categorical_features.columns, inplace=True)

In [ ]:
df.info()